/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  color: $default;
  font-size: 14px;
  background: $white;

  .footer-top {
    padding: 60px 0 30px 0;
    background: lighten($primary, 42);

    .footer-contact {
      h4 {
        font-size: 18px;
        margin: 0 0 30px 0;
        padding: 2px 0 2px 0;
        line-height: 1;
        font-weight: 700;
      }

      p {
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 0;
        font-family: $font-primary;
        color: lighten($default, 20);
        text-align: center;
      }
      margin-bottom: 30px;

      .btn-contact{
        font-family: $font-primary;
        font-weight: 600;
        font-size: 16px;
        letter-spacing: 1px;
        display: inline-block;
        padding: 10px 35px;
        background: $primary;
        border-radius: 25px;
        transition: 0.5s;
        margin-top: 10px;
        border: 2px solid $primary;
        color: black;

    

        a{
          color: black;

        
          &:hover{
            color: white;
          }
        }

        &:hover{
          color: white;
          background-color: $secondary;
        }

      }

  

    }

    h3{
      color: $secondary;
      font-weight:700;
      font-size: 25px;
      text-align: center;
    }

    h4 {
      font-size: 16px;
      font-weight: bold;
      color: $default;
      position: relative;
      padding-bottom: 12px;
    }

    .footer-links {
      margin-bottom: 30px;
      color: $secondary;
      ul{
        list-style: none;
        padding: 0;
        margin: 0;

        i {
          padding-right: 2px;
          color: lighten($primary, 20);
          font-size: 18px;
          line-height: 1;
        }

        li {
          padding: 10px 0;
          &:first-child {
            padding-top: 0;
          }
          display: flex;
          align-items: center;
        }

        a {
          color: lighten($default, 20);
          transition: 0.3s;
          display: inline-block;
          line-height: 1;
          &:hover {
            text-decoration: none;
            color: $primary;
          }
        }
      }
    }

  }



  .credits {
    padding-top: 5px;
    font-size: 13px;
    color: $default;
  }

  .social-links {
    a {
      font-size: 18px;
      display: inline-block;
      background: $primary;
      color: $white;
      line-height: 1;
      padding: 8px 0;
      margin-right: 4px;
      border-radius: 50%;
      text-align: center;
      width: 36px;
      height: 36px;
      transition: 0.3s;
      &:hover {
        background: lighten($primary, 10);
        color: #fff;
        text-decoration: none;
      }
    }
  }


  .copyright{
    button{
      font-family: $font-primary;
      font-weight: 600;
      font-size: 16px;
      letter-spacing: 1px;
      display: inline-block;
      padding: 10px 15px;
      background: $primary;
      border-radius: 25px;
      transition: 0.5s;
      margin-top: 10px;
      border: 2px solid $primary;
      color: #fff;

      &:hover {
        background: lighten($primary, 5);
      }
    }

    a{
      color: #fff;
    }

    }


  
}
