/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 90vh;
  background: linear-gradient(-35deg, #522888, #Bf9553 , #66369D  );
  background-size: 200% 200%;
 -webkit-animation: Animation 10s ease infinite;
  -moz-animation: Animation 10s ease infinite;
  animation: Animation 10s ease infinite;
  position: relative;
  z-index: 1;
  padding: 0;
  margin-bottom: -120px;

  @-webkit-keyframes Animation {
    0%{background-position:10% 0%}
    50%{background-position:90% 100%}
    100%{background-position:10% 0%}
  }
  @-moz-keyframes Animation {
    0%{background-position:10% 0%}
    50%{background-position:90% 100%}
    100%{background-position:10% 0%}
  }
  @keyframes Animation { 
    0%{background-position:10% 0%}
    50%{background-position:90% 100%}
    100%{background-position:10% 0%}
  }




  &:before {
    content: "";
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }

  .container {
    z-index: 2;
  }


  h1 {
    margin: 0 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #fff;
  }

  h2 {
    color: #eee;
    margin-bottom: 50px;
    font-size: 24px;
  }



  img{
    max-height: 250px;
  }


  .btn-get-started {
    font-family: $font-primary;
    font-weight: 600;
    margin-right: 1rem;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    transition: 0.5s;
    margin-left: -10px;
    padding: 8px 26px 8px 26px;
    color: #fff;
    background: lighten($secondary, 6);
    border-radius: 3rem;
    position: relative;
    z-index: 4;
    &:hover {
      background: $primary;
    }
  }

  

  @media (min-width: 1024px){
    background-attachment: fixed;
  }

  @media (max-width: 1024px),  (max-height: 768px) {
    margin-bottom: -150px;
    height: 110vh;
  }

  @media (max-width: 768px) {
    height: 100vh;
    h1 {
      font-size: 28px;
      line-height: 36px;
    }
    h2 {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 30px;
    }
  }

  @media (max-height: 640px) {
    height: 120vh;
  }

}
