/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100vw;
  height: 100vh;
  background-image:  url('../img/cleanslatebanner.jpg');

  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.8;
  background-position: center;
  position: relative;
  padding: 0;
  margin-bottom: -120px;





  &:before {
    content: "";
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }

  .container {
    z-index: 99;
  }


  h1 {
    margin: 0 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #fff;
  }

  h2 {
    color: #eee;
    margin-bottom: 50px;
    font-size: 24px;
  }



  img{
    max-height: 250px;
  }

/*
  #background-video {
    width: 100vw;
    height: 100%;
      object-fit: cover;
position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
 }
*/

  .btn-get-started {
    font-family: $font-primary;
    font-weight: 600;
    margin-right: .5rem;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    transition: 0.5s;
    margin-top: 1rem;
    text-align: center;
    padding: 10px 26px 8px 26px;
    color: #fff;
    background: lighten($secondary, 6);
    border-radius: 3rem;
  
    z-index: 4;
    &:hover {
      background: $primary;
    }
  }

  

  @media (min-width: 1024px){
    background-attachment: fixed;
  }

  @media (max-width: 1024px),  (max-height: 768px) {
    margin-bottom: -150px;
    height: 110vh;
  }

  @media (max-width: 768px) {
    height: 100vh;
    h1 {
      font-size: 28px;
      line-height: 36px;
    }
    h2 {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 30px;
    }
  }

  @media (max-height: 640px) {
    height: 120vh;
  }

}
